
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<form action="/users" method="POST" role="form">
	<legend>Đăng nhập</legend>

	<div class="form-group">
		<label for="">Email:</label>
		<input type="email" class="form-control" name="email" value="email1@gmail.com">
	</div>
	<div class="form-group">
		<label for="">Username</label>
		<input type="text" class="form-control" name="username" id="" value="nhat123">
	</div>
	<div class="form-group">
		<label for="">Password</label>
		<input type="password" class="form-control" name="password" value="nhat123">
	</div>
	

	<button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
	<a type="button" class="btn btn-success" href="/users/{{_id}}">Tìm user</a>
	<a type="button" class="btn btn-danger" href="/users/{{_id}}>Xóa user</a>
</div>
